<div class="perfil-header">
  <div class="perfil" (click)="toggleMenu()">
    <img
      [src]="getImagenUrl(usuario?.foto_perfil)"
      alt="Foto de perfil"
      class="avatar"
    />
    <div class="user-info">
      <span class="nombre">{{ usuario?.nombre }} {{ usuario?.apellido }}</span>
      <span class="estado">En línea</span>
    </div>
  </div>

  <div class="menu" *ngIf="mostrarMenu">
    <button (click)="onPrincipal()">Menu Principal</button>
    <button (click)="onModificar()">Editar Perfil</button>
    <button (click)="onSalir()">Salir</button>
  </div>
</div>
