/*.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-contenido {
  background: white;
  border-radius: 12px;
  padding: 1rem;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.modal-mapa {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-container {
  width: 100%;
  height: 400px;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
}

.btn-cerrar {
  background: #e63946;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

.btn-cerrar:hover {
  background: #d62828;
}

.leaflet-marker-icon.custom-icon {
  filter: drop-shadow(0 0 5px red);
}*/