.acciones {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 8px;
}

.exportar {
  padding: 8px 18px;
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid #000;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  box-shadow: 2px 2px 0 #000;
}

.exportar:hover {
  background-color: #000;
  color: #fff;
  transform: translateY(-2px);
  box-shadow: 4px 4px 0 #000;
}

.exportar:active {
  transform: translateY(0);
  box-shadow: 1px 1px 0 #000;
}
