:host {
  display: block;
  width: 240px;
  height: 100vh;
  background-color: #f9fafc;
  border-right: 1px solid #e0e0e0;
  padding-top: 20px;
}

mat-nav-list {
  padding: 0;
}

a.mat-list-item {
  border-radius: 8px;
  margin: 4px 8px;
}

a.mat-list-item:hover {
  background-color: #e3f2fd;
  color: #090909;
}
