<div class="modal" *ngIf="isOpen" (click)="cerrarDesdeFondo($event)">
  <div class="modal-contenido" (click)="$event.stopPropagation()">

    <button class="btn-cerrar-x" (click)="cerrarModal()">✖</button>

    <h3 class="modal-titulo">Detalles del Reporte</h3>

    <div class="imagenes" *ngIf="reporte.imagenes.length">
      <img *ngFor="let img of reporte.imagenes"
           [src]="img"
           alt="imagen mini"
           class="imagen-mini">
    </div>

    <h2 class="reporte-titulo">{{ reporte.titulo }}</h2>


    <div class="seccion">
      <h4><i class="bi bi-chat-left-dots-fill"></i> Descripción</h4>
      <p>{{ reporte.descripcion }}</p>
    </div>

    <div class="seccion">
      <h4><i class="bi bi-person-fill"></i> Información del Cliente</h4>
      <p><strong>Nombre:</strong> {{ reporte.cliente.nombre }}</p>
      <p *ngIf="reporte?.cliente?.telefono"><strong>Teléfono:</strong> {{ reporte.cliente.telefono }}</p>
      <p *ngIf="reporte?.cliente?.email"><strong>Email:</strong> {{ reporte.cliente.email }}</p>
      <p *ngIf="reporte?.cliente?.direccion"><strong>Dirección:</strong> {{ reporte.cliente.direccion }}</p>
    </div>

    <div class="seccion">
      <h4><i class="bi bi-geo-alt-fill"></i> Ubicación</h4>
      <p>Direccion: {{ reporte.ubicacion }}</p>
      <p *ngIf="reporte.lat && reporte.lng"> Coordenadas: {{ reporte.lat }}, {{ reporte.lng }} </p>
    </div>

    <div class="seccion">
      <h4><i class="bi bi-person-fill"></i> Información del Soporte</h4>
      <p class="responsable">Responsable: {{ reporte.soporte.nombre }}</p>
      <p class="fecha-estimada" *ngIf="ultimoHistorial">
        Fecha estimada de resolución: {{ ultimoHistorial.fecha | date:'dd/MM/yyyy, h:mm a' }}
      </p>
    </div>


    <div class="seccion">
      <h4>Reacciones</h4>
      <p class="reacciones">
        <span>👍 {{ reporte.reacciones.likes }}</span>
        <span>👎 {{ reporte.reacciones.dislikes }}</span>
        <span>❤️ {{ reporte.reacciones.love }}</span>
        <span>😮 {{ reporte.reacciones.wow }}</span>
        <span>😔 {{ reporte.reacciones.sad }}</span>
        <span>⚠️ {{ reporte.reacciones.reportes }}</span>
        <span>☑️ {{ reporte.reacciones.helpful }}</span>
      </p>
    </div>

    <div class="seccion progreso">
      <div class="estado" [class.activo]="getUltimoEstado() === 'enviado'">Pendiente</div>
      <div class="estado" [class.activo]="getUltimoEstado() === 'observado'">En Proceso</div>
      <div class="estado" [class.activo]="getUltimoEstado() === 'en progreso'">Resuelto</div>
      <div class="estado" [class.activo]="getUltimoEstado() === 'resuelto'">Cerrado</div>
    </div>

    <div class="seccion historial" *ngIf="reporte?.historial?.length">
      <h4><i class="bi bi-clock-history"></i> Historial</h4>
      <ul>
        <li *ngFor="let h of reporte.historial">
          {{ h.mensaje }} - <small>{{ h.fecha | date:'short' }}</small>
          (<em>{{ h.estado }}</em>)
        </li>
      </ul>
    </div>

    <div class="modal-footer">
      <button class="btn-avanzar" (click)="avanzarProgreso()">Avanzar Progreso</button>
      <button class="btn-cerrar" (click)="cerrarModal()">Cerrar</button>
    </div>

  </div>
</div>
