<div class = "soporte-container">
  <app-header></app-header> <!-- Usa el selector correcto -->

  <div class="contenedor-soporte">
    <!-- ESTADÍSTICAS -->
    <app-report-stats [reportes]="reportesFiltrados"></app-report-stats>

        <!-- FILTROS -->
    <app-report-filters 
      [reportes]="reportes" 
      (filtrar)="aplicarFiltro($event)">
    </app-report-filters>

    <!-- TARJETAS DE REPORTES -->
    <div class="container-report-card">
      <app-report-card
        *ngFor="let rep of reportesFiltrados"
        [reporte]="rep"
        [cliente]="rep.cliente"
        [soporte]="soporte"
        (seleccionar)="seleccionarReporte(rep)">
      </app-report-card>
    </div>

    <app-map-reports [reportes]="reportesFiltrados"></app-map-reports>

  </div>
</div>
