name: Build and deploy Angular app to Azure Web App - ComuniRed

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.x'

      - name: Install & Build Angular
        working-directory: ./ComuniRed
        run: |
          npm install
          npm run build --if-present

      - name: Upload Angular dist (browser folder)
        uses: actions/upload-artifact@v4
        with:
          name: angular-build
          path: ComuniRed/dist/comuni-red/browser

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: angular-build
          path: ./app

      - name: Login to Azure using OIDC
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_A8ABDAD3B15148DB93670B5019488CF7 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_18ACD77EC0644D9BA9F7819FC0381C58 }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_C55B9A7A83B94803AC01C4926BC10171 }}

      - name: Deploy Angular to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'ComuniRed'
          slot-name: 'Production'
          package: ./app
